# ignore everything by default; un-ignore tracked trees below
*
!.gitignore
!README.md
!.bashrc
!.install/
!.install/**
!.config/
!.config/bash/
!.config/bash/**
!.config/btop/
!.config/btop/**
!.config/fastfetch/
!.config/fastfetch/**
!.config/ghostty/
!.config/ghostty/**
!.config/hypr/
!.config/hypr/**
.config/hypr/bin/
!.config/imv/
!.config/imv/**
!.config/mise/
!.config/mise/**
!.config/nvim/
!.config/nvim/**
!.config/evoshell/
!.config/evoshell/plugins/
!.config/evoshell/plugins/**
.config/evoshell/plugins/commons
!.config/brave-flags.conf
.local/
**/__pycache__/
*.pyc
**/secrets.env
