.config/hypr/bin/
.config/hypr/theme.lua
.config/nvim/lua/theme-icons.lua
.config/evoshell/environment
.config/evoshell/modules/commons

themes/current/
themes/next/
themes/.build-cache/
vendor/
.cache/
.build/
*.sqlite
*.sqlite-journal
.local/
**/__pycache__/
*.pyc
**/secrets.env
modules/**/.cursor/
