vendor/
evoplayer
**/secrets.env
theme.json
themes/current/
themes/next/
.cache/
.build/
*.sqlite
*.sqlite-journal
.config/evoshell/overrides.json
.config/evoshell/weather.json
.config/evoshell/media.json
.config/evoshell/ui.json
.config/evoshell/font.json
.config/evoshell/hypr-looks.json
.config/evoshell/environment
.local/state/evoshell/
.local/cache/evoshell/
