:root {
    --bg-primary: #faf4ed;
    --text-primary: #575279;
    --blue: #56949f;
    --cyan: #286983;
    --purple: #907aa9;
    --pink: #eb6f92;
    --green: #286983;
    --orange: #b4637a;
    --red: #eb6f92;
}