 :root {
    --bg-primary: #faf4ed;
    --bg-secondary: #f0e5e0;
    --text-primary: #9c94a6;
    --text-accent: #5b95a0;
    --blue: #306c85;
    --cyan: #5b959f;
    --purple: #5d567b;
    --pink: #d78480;
    --green: #5b95a0;
    --orange: #e89e39;
    --red: #b5667e;
}