@import "../../.themes/current/waybar.css";

* {
	font-family: "CaskaydiaMono Nerd Font";
	font-weight: bold;
    font-size: 13px;
	min-height: 0;
}

window#waybar {
	padding-top: 1px;
}

#workspaces,
#custom-shopify_zk,
#custom-shopify_diy,
#custom-github,
#pulseaudio,
#clock,
#tray-expander {
	background-color: @background;
	padding: 0 16px;
	margin: 0 8px;
}

#custom-cava,
#bluetooth,
#network,
#cpu,
#tray {
	background-color: @background;
	padding: 0 4px;
	margin: 0 8px;
}

#workspaces button {
	color: @text-dark;
	padding-left: 8px;
	padding-right: 8px;
}

#workspaces button.active {
	color: @accent-blue;
}

#workspaces button.urgent {
	color: @accent-pink;
}

#custom-recording {
    color: @accent-orange;
    font-size: 16px;
    animation: blink 1s linear infinite;
}
  
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
}

#clock {
	color: @accent-blue;
    margin-left: 0;
    padding-left: 0;
}

#custom-cava {
	color: @accent-pink;
	padding-right: 0;
    margin-right: 0;
}

#pulseaudio {
	color: @accent-pink;
    margin-left: 0;
}

#pulseaudio.muted {
	color: @accent-orange;
}

#tray-expander {
    margin-left: 0;
    padding-left: 0;
}

#tray {
    margin-left: 0;
}
#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
}


#custom-shopify_zk,
#custom-shopify_diy {
    color: @accent-blue;
}
#custom-github.github-level-0 {
    color: @text-dark;
}
#custom-github.github-level-1 {
    color: @github-1;
}
#custom-github.github-level-2 {
    color: @github-2;
}
#custom-github.github-level-3 {
    color: @github-3;
}
#custom-github.github-level-4 {
    color: @github-4;
}

#custom-shopify_zk:hover,
#custom-shopify_diy:hover,
#custom-github:hover,
#clock:hover,
#pulseaudio:hover,
#tray-expander:hover {
	color: @accent-pink;
}