* {
	font-family: "CaskaydiaMono Nerd Font"; 
	font-weight: bold;
	min-height: 0;
	font-size: 100%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  	transition-property: background-color;
  	transition-duration: 0.5s;
  	background: #0a0e19;
	padding: 2px;
	border-radius: 0;
	border-top: none;
}

window#waybar.hidden {
  	opacity: 0.2;
}

window#waybar.empty,
window#waybar.empty #window {
    background-color: #0a0e19;
    padding: 0px;
    border: 0px;
}

#workspaces button {
	color: #7f849c;
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 0;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button:hover,
#workspaces button.active:hover {
	border-radius: 5px;
	color: #c3e88d;
 	padding-left: 2px;
    padding-right: 2px;
}

#workspaces button.persistent {
	color: #7f849c;
	border-radius: 0;
}

#workspaces button.active {
	color: #c3e88d;
  	border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces button.urgent {
	color: #ff757f;
 	border-radius: 0px;
}

/* This section can be use if you want to separate waybar modules */
.modules-left, .modules-center, .modules-right {	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
	border-radius: 0;

} 

.modules-left, .modules-right {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
} 

#clock,
#pulseaudio,
#pulseaudio-slider,
#tray,
#workspaces,
#custom-shopify,
#custom-cava_mviz {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
}

#clock {
  color: #c3e88d;
}

#tray {
	font-size: 97%;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-cava_mviz {
	color: #ffffff;
	padding: 0 10px;
}

#custom-shopify {
	color: #7dcfff;
}

#pulseaudio {
  color: #7dcfff;
}

#pulseaudio.bluetooth {
  color: #c3e88d;
}
#pulseaudio.muted {
  color: #ff757f;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#pulseaudio,
#clock,
#tray,
#workspaces,
#custom-cava_mviz {
	background-color: #0a0e19;
	border-radius: 0 0 5px 5px;
}