:root {
    --bg-primary: #121212;
    --bg-secondary: #121212;
    --text-primary: #eaeaea;
    --text-accent: #666666;
    --blue: #4d4d4d;
    --cyan: #666666;
    --purple: #737373;
    --pink: #808080;
    --green: #595959;
    --orange: #e68e0d;
    --red: #ffc107;
}
