:root {
    --bg-primary: #2e3440;
    --text-primary: #d8dee9;
    --blue: #81a1c1;
    --cyan: #8fbcbb;
    --purple: #b48ead;
    --pink: #bf616a;
    --green: #a3be8c;
    --orange: #d08770;
    --red: #bf616a;
}