.theme-dark,
.theme-light {
  /* Gruvbox Light Colors */
  --background-primary: #fbf1c7;
  --background-primary-alt: #ebdbb2;
  --background-secondary: var(--background-primary);
  --background-secondary-alt: var(--background-primary-alt);
  --text-normal: #3c3836;
  --text-on-accent: #fbf1c7;
  --text-title-h1: #d65d0e;    /* Orange */
  --text-title-h2: #b57614;    /* Yellow */
  --text-title-h3: #98971a;    /* Green */
  --text-title-h4: #9d0006;    /* Red */
  --text-title-h5: #458588;    /* Blue */
  --text-title-h6: #b16286;    /* Purple */
  --canvas-color-1: 157, 0, 6;   /* Red */
  --canvas-color-2: 214, 93, 14;  /* Orange */
  --canvas-color-3: 181, 118, 20; /* Yellow */
  --canvas-color-4: 152, 151, 26; /* Green */
  --canvas-color-5: 69, 133, 136; /* Blue */
  --canvas-color-6: 177, 98, 134; /* Purple */
  --text-link: var(--text-title-h5);
  --markup-code: var(--text-title-h2);
  --text-tag: var(--text-title-h3);
  --text-a: #689d6a;           /* Aqua */
  --text-a-hover: #689d6a;      /* Aqua */
  --text-mark: var(--text-title-h2);
  --interactive-accent: var(--text-title-h3);
  --blockquote-border: var(--text-title-h6);
  --interactive-accent-rgb: var(--text-title-h2);
  --accent-h: 24;
  --accent-s: 92%;
  --accent-l: 45%;
  --titlebar-background-focused: var(--titlebar-background);

  /* Code view */
  --code-normal: var(--text-normal);
  --code-background: var(--background-primary);
  --modular-foreground: var(--text-normal);
  --modular-Comment: #7c6f64;
  --modular-keyword: var(--text-a);
  --modular-definition: var(--text-title-h3);
  --modular-variable: var(--text-normal);
  --modular-number: var(--text-title-h6);
  --modular-function: var(--text-title-h5);
  --modular-string: var(--text-title-h2);
}
