:root {
    --bg-primary: #2c2421;
    --bg-secondary: #221e1b;
    --text-primary: #efe0cf;
    --text-accent: #d4a574;
    --blue: #b3e8dd;
    --cyan: #85dacc;
    --purple: #a8a9eb;
    --pink: #feb5c7;
    --green: #c5e2a3;
    --orange: #f9cc6c;
    --red: #fd6a85;
}
