:root {
    --bg-primary: #111c18;
    --text-primary: #C1C497;
    --blue: #509475;
    --cyan: #2DD5B7;
    --purple: #D2689C;
    --pink: #D2689C;
    --green: #549e6a;
    --orange: #E5C736;
    --red: #FF5345;
}