:root {
    --bg-primary: #060B1E;
    --bg-secondary: #060B1E;
    --text-primary: #ffcead;
    --text-accent: #7d82d9;
    --blue: #89b4fa;
    --cyan: #94e2d5;
    --purple: #cba6f7;
    --pink: #f5c2e7;
    --green: #a6e3a1;
    --orange: #fab387;
    --red: #f38ba8;
}
