:root {
    --bg-primary: #282828;
    --bg-secondary: #1d2021;
    --text-primary: #ebdbb2;
    --text-accent: #fabd2f;
    --blue: #83a598;
    --cyan: #8ec07c;
    --purple: #d3869b;
    --pink: #d3869b;
    --green: #b8bb26;
    --orange: #fe8019;
    --red: #fb4934;
}
