 :root {
    --bg-primary: #2c2c2b;
    --bg-secondary: #1d2021;
    --text-primary: #e3d4ad;
    --text-accent: #83a598;
    --blue: #458284;
    --cyan: #b3b628;
    --purple: #ac6183;
    --pink: #ce8599;
    --green: #679969;
    --orange: #d09522;
    --red: #c82822;
}