/* Dracula Theme for SoundCloud */
@import url("http://localhost:8008/shared/soundcloud.css");

:root {
  --bg-primary: #0a0e19;
  --bg-secondary: #292e42;
  --text-primary: #f8f8f2;
  --text-accent: #8be9fd;
  --accent-blue: #8be9fd;
  --accent-cyan: #b2f8f8;
}
