:root {
    --bg-primary: #2d353b;
    --bg-secondary: #272e33;
    --text-primary: #d3c6aa;
    --text-accent: #a7c080;
    --blue: #7fbbb3;
    --cyan: #83c092;
    --purple: #d699b6;
    --pink: #d699b6;
    --green: #a7c080;
    --orange: #e69875;
    --red: #e67e80;
}
