[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=cliamp %d
Name=cliamp
Comment=Custom definition for cliamp
Icon=alltomp3
Path=
Terminal=true
StartupNotify=false
