[Desktop Entry]
Name=Cursor
Comment=The AI Code Editor
GenericName=Text Editor
Exec=/home/seb/.local/bin/cursor %F
Icon=co.anysphere
Type=Application
StartupNotify=false
StartupWMClass=Cursor
Categories=TextEditor;Development;IDE;
MimeType=application/x-cursor-workspace;x-scheme-handler/cursor;
Terminal=false
Path=
