[Desktop Entry]
Name=Cursor
Exec=/usr/bin/cursor --no-sandbox %U -enable-features=UseOzonePlatform -ozone-platform=wayland
Terminal=false
Type=Application
Icon=/usr/share/icons/cursor.png
# Change the class below to "Cursor" when on X11
StartupWMClass=cursor
X-AppImage-Version=1.2.4
MimeType=x-scheme-handler/cursor;
Categories=Utility;TextEditor;Development;IDE
