[Desktop Entry]
Name=GIMP
Comment=Image editor
GenericName=Image Editor
Exec=/home/seb/.local/bin/gimp.AppImage
Type=Application
Icon=gimp
Categories=Graphics;2DGraphics;RasterGraphics;
StartupNotify=true
Terminal=false
