[Desktop Entry]
Name=GIMP
Comment=Image editor
GenericName=Notes
Exec=/home/seb/.local/bin/gimp.AppImage
Type=Application
Icon=gimp
Categories=Office;
StartupNotify=true
MimeType=x-scheme-handler/obsidian;
Path=
Terminal=false
