[Desktop Entry]
Type=Application
Version=1.5
Name=IPTV
Comment=Search iptv-org channels and play in mpv
Exec=/home/seb/.local/bin/iptv-play.sh
Icon=RenameMyTVSeries
Categories=AudioVideo;
Keywords=iptv;stream;tv;m3u;mpv;
Terminal=false
StartupNotify=false
Path=
