[Desktop Entry]
Name=LM Studio
Comment=Run LLM models
GenericName=LLM
Exec=/home/seb/.local/bin/lmstudio.AppImage --enable-features=UseOzonePlatform --ozone-platform-hint=auto
Type=Application
Icon=/home/seb/.local/share/applications/lmstudio.png
Categories=Dev;
StartupNotify=true
Path=
Terminal=false
