[Desktop Entry]
Name=LM Studio
Comment=Run LLM models
GenericName=LLM
Exec=/home/seb/.local/bin/lmstudio.AppImage
Type=Application
Icon=/home/seb/.local/share/applications/lmstudio.png
Categories=Dev;
StartupNotify=true
Path=
Terminal=false
