[Desktop Entry]
Version=1.5
Type=Application
Name=Nano
GenericName=Text editor
Comment=Small, friendly console text editor
Exec=/usr/bin/nano
Terminal=true
Categories=Utility;TextEditor;
Keywords=editor;text;terminal;console;
Icon=edit
Path=
StartupNotify=false
NoDisplay=true
Hidden=true
