:root {
    --bg-primary: #0a0e19;
    --bg-secondary: #282a36;
    --text-primary: #f8f8f2;
    --text-accent: #8be9fd;
    --blue: #8be9fd;
    --cyan: #b2f8f8;
    --purple: #bd93f9;
    --pink: #ff79c6;
    --green: #50fa7b;
    --orange: #ffb86c;
    --red: #ff5555;
}
