:root {
    --bg-primary: #eff1f5;
    --bg-secondary: #e6e9ef;
    --text-primary: #4c4f69;
    --text-accent: #04a5e5;
    --blue: #1e66f5;
    --cyan: #179299;
    --purple: #8839ef;
    --pink: #ea76cb;
    --green: #40a02b;
    --orange: #fe640b;
    --red: #d20f39;
}
